<h1>Edit <%= @airline.name %></h1>

<%= form_with({ model: @airline }) do | form | %>
    <div>
        <%= form.label(:name) %>
        <%= form.text_field(:name) %>
        <%= form.submit%>
    </div>
<% end %>

 <!-- 
<form  method="POST" action="/airlines/<%= @airline.id%>">
    <input type="hidden" name="_method" value="PATCH">
    <div>
        <label>Name</label>
        <input type="text" value="<%= @airline.name %>" name="airline[name]"> 
    </div>
     <div>
        <label>Established</label>
        <input type="text" value="<%= @airline.name %>" name="airline[established]"> 
    </div> 
            params = {
                airline: {
                    name: <user input>
                }
            }
       
    <input type="submit">
</form>
 -->

