<h1>Car Form</h1>
<form method="post" action="/cars/<%= params[:id]  %>">
    <input type="hidden" name="_method" value="patch">
    <div>
        <label>Make</label>
        <input name="make" type="text" value="<%= @car.make %>">
    </div>
     <div>
        <label>Model</label>
        <input name="model" type="text" value="<%= @car.model %>">
    </div>
     <div>
        <label>Year</label>
        <input name="year" type="text" value="<%= @car.model %>">
    </div>
     <div>
        <label>User</label>
        <select name="user_id">
            <% @users.each do | user | %>
                <% 
                    if user.id == @car.user_id
                        selected = 'selected'
                    else
                        selected = ''
                    end
                %>
                <option value="<%= user.id %>" <%= selected %>>
                    <%= user.name %>
                </option>
            <% end %>
        </select>
    </div>
    <input type="submit">
</form>